* {
    padding: 0px;
    margin: 0px;
}
#sidebar{
    background-color: black;
    width: 20%;
    height: 100%;
    color: white;
    padding: 45px;
}
#myname h1{
    font-size: 25px;
    padding: 6px;
    font-weight: bold;
}
#selfie{
    width: 135px;
    height: 135px;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}
#job{
    padding: 4px;
}
.line{
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
}
#navtitles, li, ul{
    list-style-type: none;
}
.titles h2{
    font-size: 20px;
    margin: 6px;
    font-weight: 500;
    background: white;
    color: rgb(241, 181, 28);
}
#container{
    display: flex;
}
#content{
    padding: 25px;
    padding-left: 20px;
    padding-right: 45px;
}
.heading h2{
    font-size: 20px;
    margin: 6px;
    font-weight: 750;
    margin-top: 25px;
    color: rgb(241, 181, 28);
}
.links a{
    color: white;
}
.sub h3{
    font-size: 18px;
    margin-top: 7px;
}
.duration{
    margin-bottom: 5px;
}
body{
    font-family: Arial;
}
#logos li a img{
    width: 50px;
    height: 50px;
}
#logos li{
    display: inline-block;
    padding: 30px;
}
#logos{
    text-align: center;
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
#zuri{
    width: 75px;
    height: 75px;
    text-align: center;
}
#zuriii{
    text-align: center;
}